<footer class="py-3 my-4">
  <nav class="navbar fixed-bottom navbar-light bg-light ">
    <!-- Creating a container to limit the content edges -->
    <div class="container">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <!-- Adding navigation links for all the pages. -->
            <li class="nav-item"><a href="/home" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/projects" class="nav-link px-2 text-muted">Projects</a></li>
            <li class="nav-item"><a href="/services" class="nav-link px-2 text-muted">Services</a></li>
            <li class="nav-item"><a href="/contact-list" class="nav-link px-2 text-muted">Business contact list</a></li>  
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contact</a></li>          
          </ul>
          <p class="text-center text-muted">© 2021 All rights reserved</p>
      </div>
  </nav>
</footer>


