<!-- Main Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark br-primary" style="background-color: rgb(0,59,56);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><img src="Assets\images\logo.png" class="rounded-circle" width="40"
                height="40"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%if (title=="Home" ) { %>
                        <a class="nav-link active" aria-current="page" href="/home"><i class="fas fa-house-user fa-lg"></i> Home</a>
                        <%}else{%>
                            <a class="nav-link" aria-current="page" href="/home"><i class="fas fa-house-user"></i>
                                Home</a>
                            <% } %>
                </li>
                <li class="nav-item">
                    <% if (title=="Projects" ) { %>
                        <a class="nav-link active" aria-current="page" href="/projects"><i class="fas fa-project-diagram fa-lg"></i> Projects</a>
                    <% }else{ %>
                            <a class="nav-link" aria-current="page" href="/projects"><i class="fas fa-project-diagram"></i> Projects</a>
                    <% } %>
                </li>
                <li class="nav-item">
                    <% if (title=="Services" ) { %>
                        <a class="nav-link active" aria-current="page" href="/services"><i class="fas fa-cogs fa-lg"></i> Services</a>
                    <% }else{ %>
                        <a class="nav-link" aria-current="page" href="/services"><i class="fas fa-cogs"></i> Services</a>
                    <% } %>
                </li>
                <% if(typeof displayName == 'string' && displayName) { %> 
                    <li class="nav-item">
                        <% if (title=="Business Contact List" ) { %>
                            <a class="nav-link active" aria-current="page" href="/contact-list"><i class="far fa-address-book fa-lg"></i> Business Contact List</a>
                        <% }else{ %>
                            <a class="nav-link" aria-current="page" href="/contact-list"><i class="far fa-address-book"></i> Business Contact List</a>
                        <% } %>
                    </li>
                <% }%> 
                <li class="nav-item">
                    <% if (title=="About" ) { %>
                        <a class="nav-link active" aria-current="page" href="/about"><i class="fas fa-info-circle fa-lg"></i> About</a>
                    <% }else{ %>
                        <a class="nav-link" aria-current="page" href="/about"><i class="fas fa-info-circle"></i> About</a>
                    <% } %>
                </li>
                <li class="nav-item">
                    <% if (title=="Contact Me" ) { %>
                        <a class="nav-link active" aria-current="page" href="/contact"><i class="fas fa-id-card fa-lg"></i> Contact Me</a>
                    <% }else{ %>
                            <a class="nav-link" aria-current="page" href="/contact"><i class="fas fa-id-card"></i> Contact Me</a>
                    <% } %> 
                </li>
                <% if(typeof displayName == 'string' && displayName) { %> 
                    <li class="navbar-text"><i class="fas fa-sm fa-user"></i> Welcome, <%= displayName %></li>
                    <li class="nav-item"><a href="/logout" class="nav-link">
                        <i class="fas fa-sm fa-sign-out-alt"></i> Logout</a></li>
                <% } else { %> 
                    <li class="nav-item"><a href="/login" class="nav-link">
                        <i class="fas fa-sm fa-sign-in-alt"></i> Login</a></li>
                <% } %> 
            </ul>
        </div>
    </div>
</nav>